/* 选择城市 */
p{
  margin: 0;
}

.select-city-top-input{
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .select-city-top-input .city-input{
    flex: 1;
    padding: 0 10px;
    margin-right: 10px;
    background: #f8f8f8;
  }
  
  .select-city-type-line{
    position: absolute;
    width: 40px;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    text-align: center;
    color: #999;
    padding: 10px 0;
  }
  
  .select-city-type-line-true{
    background: rgba(255, 85, 18, 0.6);
    color: white;
    border-radius: 5px 0px 0px 5px;
  }
  
  .select-city-type-line .letter{
    font-size: 15px;
  }
  
  .select-city-type-line .letter.selected{
    color: #FF5512;
  }
  
  .select-city-type-circle{
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    background: rgba(255, 85, 18, 0.6);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 500;
  }
  /* 选择城市 */
